.tabs-container {
  text-align: center;
  padding: 30px;
}

.tab-buttons {
  margin-bottom: 20px;
}

.tab-buttons button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.tab-buttons .active {
  background-color: black;
  color: white;
}

.tab-content {
  font-size: 20px;
  margin-top: 20px;
}
