* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121b2e;
  font-family: Arial, sans-serif;
}

.countdown-container {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}

.timer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.box {
  background: #eaeaea;
  padding: 10px;
  width: 70px;
}

.box span {
  font-size: 24px;
  display: block;
}
